<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escuela Zombie</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="/images/logo3.jpg" alt="logo" style="width: 35px; height: 36px; margin-right: 10px;">
        <a href="" class="navbar-brand">Escuela Zombie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Cerebros</a>
                <a href="#" class="nav-item nav-link">Cursos Para Zombies</a>
            </div>
        </div>
    </nav>