<% include _header %>
<div class="row container">
    <div class="col-md-12">
        <form action="new" method="POST">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="">Tipo</label>
                <input type="text" class="form-control" name="type">
            </div>

            <% if(mensajeError.length > 0){ %>

            <div class="alert alert-danger" role="alert">
                <%= mensajeError %>
            </div>

            <% } %>

            <% if(mensajeExito.length > 0){ %>

                <div class="alert alert-success" role="alert">
                    <%= mensajeExito %>
                </div>
    
            <% } %>

            <button class="btn btn-primary"><i class="fas fa-skull"></i> Zombie </button>
        </form>
    </div>
</div>
<% include _footer %>