<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= alum %></h1>
    <h2><%= alum2 %></h2>
    <h3>En el grupo A van a pasar <%= numero %></h3>
  </body>
</html>