  <% include _header %>       
    <h1><%= title %></h1>
    <h2>Lista de zombies</h2>    
    <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
      <%
        if(coleccion){
          coleccion.forEach(function(zombie){
      %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.type %></td>
        <td>
          <i class="fas fa-edit" title="Actualizar"></i>
          <i class="fas fa-trash" title="Eliminar"></i>
        </td>
      </tr>
      <%
          });
        }
      %>
    </table>
    
<% include _footer %>